.page-content 
{
    flex: 1 0 auto;
}

.border-under-nav
{
    border-top: 2px solid ;
}


/* Sticky Footer Classes */
.footer-all
{
    border-top: 4px solid #4aaaa5;
}

html,
body
{
    height: 100%;
}

.page-content
{
    flex: 1 0 auto;
}

#sticky-footer
{
    flex-shrink: none;
}


.background-image
{
    background-image: url("../images/united-squares-negative/united-squares-negative.png");
}